.formContainer {
    display: flex;
    background-color: black;
    justify-content: center;
    
}

.clashForm {
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    justify-content: space-between;
}

.clashForm label {
    padding: 5px;
}

.clashForm textarea {
    margin-left: auto;
    margin-right: auto; 
    width: 100%; 
}

.btn {
    width: 20rem;
    margin-left: auto;
    margin-right: auto; 
}

.vs {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* position: absolute; */
  position: center;
  display: inline-flex;
  color: white;
  font-size: 7em;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-left: 21%;
  
  /* width: 15vw;
  height: 15vh; */
 
}
.vs > h1 {
  width: 15vw;
  height: 15vh;
}

.player1 {
  float: left;
  
  
}

.player1 > h3 {
  padding-top: 2em;
  color: #fff;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  
}
.player1 > image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.player2 {
  float: right;


}

.player2 > h3 {
  padding-top: 2em;
  color: #fff;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}
.player2 > image {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.battle > p {
  color: #fff;
  position: relative;
  margin-top: 400px;
  display: block;
  text-align: center;
  float: inherit;
}
.clash_body {
  color: #fff;
  float: none;
  text-align: center;
  margin-top: -10%;
  margin-bottom: 20%;
  height: 10vh;
  width: 40vw;


}
ul li {
  color: #fff;
  position: relative;
  text-align: center;
  font-weight: 400;
}

.line-block {
  margin: 5px;
  padding: 5px;
}

.image {
  max-width: 100%;
  height: auto;
  max-width: 25vw;
  justify-self: center;
  justify-items: center;
  margin: 0 auto;
}

.breakdown {
  width: 40%;
  border-bottom: 1px solid #fff;
 
}

.clash-text {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.container {
  position: absolute;
  margin-left: 30%;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-height: 100%;
  max-width: 100%;
  /* display: inline-flex; */
}